.latest-news-item__img {
    @apply w-full max-w-full h-40 object-cover rounded-baseXl cursor-pointer border border-[#cfcfcf];
    box-shadow: 0px 0px 3px #ccc;
    -webkit-box-shadow: 0px 0px 3px #ccc;
}

.latest-news-item-content {
    /* @apply text-center */
}

.latest-news-item__title-link {
    @apply my-1 text-2xl font-[600];
    color: var(--text-main-link);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.latest-news-item__sub {
    @apply font-light opacity-80;
}

.latest-news-item__desc-short {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.latest-news-item__btn {
    @apply my-2 overflow-hidden text-center rounded-lg;

    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    background-color: var(--bg-btn);
}

.latest-news-item__btn::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-btn-hover);
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.latest-news-item__btn:hover {
    cursor: pointer;
}

.latest-news-item__btn:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
}