.footer {
    background: var(--bg-footer);
    color: var(--text-footer);
}
.footer-main {
    @apply py-10
}
.footer-main-grid {
    @apply grid gap-8 md:grid-cols-2 lg:grid-cols-[1fr_1.4fr_0.6fr_1fr]
}
.logo__img {
    @apply max-w-full object-contain
}
.footer-title {
    @apply  mb-4 text-xl font-semibold uppercase;
    color: var(--text-footer);
}
.footer-menu-item {
    @apply mb-4
}
.footer-menu-item:last-child {
    @apply mb-0
}
.footer-menu-item-link {
    color: var(--text-link-footer);
}
.footer-social-list {
    @apply flex justify-start space-x-6
}
.footer-social-icon {
    @apply text-2xl
}
.footer-form-search {
    @apply mt-4
}
.footer-bottom {
    @apply p-2 text-center;
    background: var(--bg-footer-bottom)
}
.footer-bottom * {
    color: var(--text-footer-bottom)
}